<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="admin/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
</head>
<body class="sb-nav-fixed">
<!-- start: navigation-->

<!--/*/ <th:block th:include="admin/fragments/navigation :: navigation"></th:block> /*/-->
<!-- end: navigation -->
<div id="layoutSidenav">
    <!-- start: sidemenu -->

    <!--/*/ <th:block th:include="admin/fragments/sidemenu :: sidemenu"></th:block> /*/-->
    <!-- end: sidemenu -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Reader Feedbacks</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        View Reader Feedbacks
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Book Name</th>
                                    <th>Category</th>
                                    <th>Read Start Date Time</th>
                                    <th>Read End Date Time</th>
                                    <th>Time Duration</th>
                                    <th>Emotion</th>
                                    <th>Feedback</th>
                                    <th>Verified</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="feedback : ${feedbackList}">
                                    <td th:text="${null != feedback.username && feedback.username != ''} ? ${feedback.username} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.bookname && feedback.bookname != ''} ? ${feedback.bookname} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.category && feedback.category != ''} ? ${feedback.category} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.readDateTime && feedback.readDateTime != ''} ? ${feedback.readDateTime} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.readEndDateTime && feedback.readEndDateTime != ''} ? ${feedback.readEndDateTime} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.readedTime && feedback.readedTime != ''} ? ${feedback.readedTime} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.emotion && feedback.emotion != ''} ? ${feedback.emotion} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.feedback && feedback.feedback != ''} ? ${feedback.feedback} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != feedback.verified && feedback.verified != ''} ? ${feedback.verified} : 'N/A'">
                                        Tiger Nixon
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; E-Book Feedback System 2021</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<!-- start: header -->

<!--/*/ <th:block th:include="admin/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var success = [[${success}]];
    var message = [[${message}]];

    $(function () {
        if (success) {
            Swal.fire({
                title: "Success",
                icon: "success",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                }
            })
        } else if (false == success) {
            Swal.fire({
                title: "Error",
                icon: "error",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                }
            })
        }
    })

    /*]]>*/
</script>
<script>
    $('#btnScrappingProcess').click(function () {
        let category = $('#category').val();
        $.ajax({
            url: BASE_CONTEXT_PATH + '/scrap/run_manual',
            method: 'GET',
            data: {category: category},
            success: function (result) {
                if (result.status){
                    Swal.fire({
                        title: "Success",
                        icon: "success",
                        text: result.message
                    }).then((result) => {
                        if (result) {
                            location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                        }
                    })
                }else {
                    Swal.fire({
                        title: "Error",
                        icon: "error",
                        text: result.message
                    }).then((result) => {
                        if (result) {
                            location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                        }
                    })
                }
            }
        })
    })
</script>
</body>
</html>
