<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="admin/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
    <meta name="context-path" th:content="@{/}"/>
</head>
<body class="sb-nav-fixed">
<!-- start: navigation-->

<!--/*/ <th:block th:include="admin/fragments/navigation :: navigation"></th:block> /*/-->
<!-- end: navigation -->
<div id="layoutSidenav">
    <!-- start: sidemenu -->

    <!--/*/ <th:block th:include="admin/fragments/sidemenu :: sidemenu"></th:block> /*/-->
    <!-- end: sidemenu -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Registered Readers</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        View Registered Readers
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>User Type</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="reader : ${readersList}">
                                    <td th:text="${null != reader.fullname} ? ${reader.fullname} : 'N/A'">Tiger Nixon
                                    </td>
                                    <td th:text="${null != reader.email} ? ${reader.email} : 'N/A'">Tiger Nixon</td>
                                    <td th:text="${null != reader.username} ? ${reader.username} : 'N/A'">Tiger Nixon
                                    </td>
                                    <td th:text="${null != reader.userType} ? ${reader.userType} : 'N/A'">Tiger Nixon
                                    </td>
                                    <td th:text="${null != reader.status} ? ${reader.status} : 'N/A'">Tiger Nixon</td>
                                    <td>
                                        <button th:disabled="${reader.userType == 'ADMIN'}" th:classappend="${reader.status == 'Active'}? 'btn-danger' : 'btn-primary'" class="btn btn-sm blockUser" th:id="${reader.id}"
                                                th:text="${reader.status == 'Active'}? 'Inactive':'Active'">Block
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; E-Book Feedback System 2021</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<!-- start: header -->

<!--/*/ <th:block th:include="admin/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script>
    $('.blockUser').click(function () {
        $.ajax({
            url: BASE_CONTEXT_PATH + "/reader/block_user/" + this.id,
            method: 'POST',
            success: function (result) {
                if (result) {
                    Swal.fire({
                        title: 'Success',
                        icon:"success",
                        text: 'User status updated successfully!',
                        type: 'success',
                        showConfirmButton: true,
                        confirmButtonText: "Ok",
                        allowOutsideClick: false
                    }).then(function () {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        icon:"error",
                        text: 'Something went wrong!',
                        type: 'error',
                        showConfirmButton: true,
                        confirmButtonText: "Ok",
                        allowOutsideClick: false
                    }).then(function () {
                        location.reload();
                    });
                }
            }
        })
    })
</script>
</body>
</html>
