<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="admin/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
</head>
<body class="sb-nav-fixed">
<!-- start: navigation-->

<!--/*/ <th:block th:include="admin/fragments/navigation :: navigation"></th:block> /*/-->
<!-- end: navigation -->
<div id="layoutSidenav">
    <!-- start: sidemenu -->

    <!--/*/ <th:block th:include="admin/fragments/sidemenu :: sidemenu"></th:block> /*/-->
    <!-- end: sidemenu -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Scraping Process</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        View Scraping Processes
                        <div class="row" style="float: right">

                            <div class="col-5">
                                <select name="category" id="category" class="form-control">
                                    <option th:each="criteria : ${scrapingCriteria}" th:value="${criteria.name}"
                                            th:text="${criteria.name}"></option>
                                </select>
                            </div>
                            <div class="col-7">
                                <button type="button" id="btnScrappingProcess" class="btn btn-primary" th:disabled="${!canEnable}">Rerun
                                    Scraping Process
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Start Date Time</th>
                                    <th>End Date Time</th>
                                    <th>Status</th>
                                    <th>Scrapped Books Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="scraping : ${scrapingList}">
                                    <td th:text="${null != scraping.id && scraping.id != ''} ? ${scraping.id} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != scraping.startDateTime && scraping.startDateTime != ''} ? ${#dates.format(scraping.startDateTime, 'dd-MM-yyyy HH:mm:ss')} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != scraping.endDateTime && scraping.endDateTime != ''} ? ${#dates.format(scraping.endDateTime, 'dd-MM-yyyy HH:mm:ss')} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != scraping.status && scraping.status != ''} ? ${scraping.status} : 'N/A'">
                                        Tiger Nixon
                                    </td>
                                    <td th:text="${null != scraping.scrapedBookCount && scraping.scrapedBookCount != ''} ? ${scraping.scrapedBookCount} : 'N/A'">
                                        Tiger Nixon
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; E-Book Feedback System 2021</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<!-- start: header -->

<!--/*/ <th:block th:include="admin/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var success = [[${success}]];
    var message = [[${message}]];

    $(function () {
        if (success) {
            Swal.fire({
                title: "Success",
                icon: "success",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                }
            })
        } else if (false == success) {
            Swal.fire({
                title: "Error",
                icon: "error",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                }
            })
        }
    })

    /*]]>*/
</script>
<script>
    $('#btnScrappingProcess').click(function () {
        let category = $('#category').val();
        $.ajax({
            url: BASE_CONTEXT_PATH + '/scrap/run_manual',
            method: 'GET',
            data: {category: category},
            success: function (result) {
                if (result.status){
                    Swal.fire({
                        title: "Success",
                        icon: "success",
                        text: result.message
                    }).then((result) => {
                        if (result) {
                            location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                        }
                    })
                }else {
                    Swal.fire({
                        title: "Error",
                        icon: "error",
                        text: result.message
                    }).then((result) => {
                        if (result) {
                            location.replace(BASE_CONTEXT_PATH + '/scrap/view');
                        }
                    })
                }
            }
        })
    })
</script>
</body>
</html>
