<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="web/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
    <meta name="context-path" th:content="@{/}"/>
    <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <style>
        header h6 {
            color: white;
        }
    </style>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">E-Book Feedback System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/web/view}">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger"
                                        th:href="@{/web/bookshelf_view}">Bookshelf</a></li>
                <!--                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Profile</a></li>-->
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="bookview">
    <!--            <div class="container d-flex h-100 ">-->
    <
    <div class="mt-5 p-lg-5 row">
        <div class="col-xl-4 text-center">
            <img style="max-width: 386px;max-height: 450px;border: 6px white solid;" th:src="${bookDto.thumbnailString}"
                 alt="">
        </div>
        <div class="col-xl-8 pl-5">
            <h3 class="pb-2"
                th:text="${null != bookDto.bookName && bookDto.bookName != ''} ? ${bookDto.bookName} :'N/A'">Book Of
                Love</h3>
            <h6 class="pb-1"><b>Author:</b> <span
                    th:text="${null != bookDto.author && bookDto.author != ''} ? ${bookDto.author} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>Publisher:</b> <span
                    th:text="${null != bookDto.publisher && bookDto.publisher != ''} ? ${bookDto.publisher} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>Category:</b> <span
                    th:text="${null != bookDto.category && bookDto.category != ''} ? ${bookDto.category} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>Language:</b> <span
                    th:text="${null != bookDto.language && bookDto.language != ''} ? ${bookDto.language} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>Published Year:</b> <span
                    th:text="${null != bookDto.publishedYear && bookDto.publishedYear != ''} ? ${bookDto.publishedYear} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>ISBN No:</b> <span
                    th:text="${null != bookDto.isbnNo && bookDto.isbnNo != ''} ? ${bookDto.isbnNo} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>Updated Datetime:</b> <span
                    th:text="${null != bookDto.updatedDateTime && bookDto.updatedDateTime != ''} ? ${bookDto.updatedDateTime} :'N/A'">fsdkfjkkj</span>
            </h6>
            <h6 class="pb-1"><b>Description:</b></h6>
            <h6 th:text="${null != bookDto.description && bookDto.description != ''} ? ${bookDto.description} :'N/A'">
                N/A</h6>
            <button class="btn btn-sm btn-info float-right p-2 btnRead" th:id=" ${bookDto.id}">READ</button>

        </div>
    </div>

    <!--            </div>-->
</header>
<!-- About-->
<section class="projects-section bg-light" style="padding: 3rem 0;!important;" id="projects">
    <div class="container">
        <h3><b>Readers Feedback</b></h3>
        <div class="row mb-4 pt-1" th:hidden="${#lists.isEmpty(bookDto.feedbackDtoList)}">
            <div class="col-12 pb-1" th:each="feedbackDto :${bookDto.feedbackDtoList}">
                <div class="card ml-xl-n2">
                    <div class="card-body">
                        <h4><b th:text="${feedbackDto.username}">John Doe</b>
                            <span th:if="${feedbackDto.verified == 'Verified'}">
                                <i class="fas fa-check-circle" style="color: green; font-size: 18px;"></i>
                            </span>
                        </h4>
                        <h6 th:text="${feedbackDto.readDateTime}">2021-04-20</h6>
                        <h6 th:text="${feedbackDto.readedTime}">2021-04-20</h6>
                        <h6 th:text="${feedbackDto.emotion}">Natural</h6>
                        <h6 th:text="${feedbackDto.feedback}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolore earum eos esse exercitationem fuga hic id illo in molestiae natus nesciunt nihil
                            obcaecati, optio repudiandae rerum soluta tempore vero voluptatum?</h6>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">

</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright © E-Book Feedback System 2021</div>
</footer>
<!-- start: header -->

<!--/*/ <th:block th:include="web/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script>
    const b64toBlob = (b64Data, contentType = '', sliceSize = 512) => {
        const byteCharacters = atob(b64Data);
        const byteArrays = [];

        for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            const slice = byteCharacters.slice(offset, offset + sliceSize);

            const byteNumbers = new Array(slice.length);
            for (let i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            const byteArray = new Uint8Array(byteNumbers);
            byteArrays.push(byteArray);
        }

        const blob = new Blob(byteArrays, {type: contentType});
        return blob;
    }

    $('.btnRead').click(function () {
        window.open(BASE_CONTEXT_PATH + "/web/book_reader/" + this.id, '_blank');
    })
</script>
</body>
</html>
