<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="web/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">E-Book Feedback System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/login}">Sign In</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/web/view_register}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Book Scraper</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, user friendly, 'E-Book Feedback System' in the world.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about" th:href="@{/web/bookshelf_view}">Start
                Reading</a>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Built with Web Scraping and Facial Emotion Recognition Technology</h2>
                <p class="text-white-50">
                    E-Book Feedback System is a free E-Book Store with many more and simple features to improve readers
                    readability.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/open-book.jpg" alt=""/>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <p class="text-black-50 mb-0">“If you don’t like to read, you haven’t found the right book.” – J.K.
                        Rowling</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/book2.jpg" alt=""/></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <p class="mb-0 text-white-50">You don’t see people getting pulled over by the police for
                                reading ebooks on their smartphones.
                                — Jason Merkoski</p>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/book3.jpg" alt=""/></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <p class="mb-0 text-white-50">“When I look back, I am so impressed again with the
                                life-giving power of literature. If I were a young person today, trying to gain a sense
                                of myself in the world, I would do that again by reading, just as I did when I was
                                young.” – Maya Angelou</p>
                            <hr class="d-none d-lg-block mb-0 mr-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4"/>
                        <div class="small text-black-50">No 01 Galle Road, Sri Lanka</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4"/>
                        <div class="small text-black-50"><a href="#!">kavindapushpitha0@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4"/>
                        <div class="small text-black-50">0712567891</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright © E-Book Feedback System 2021</div>
</footer>
<!-- start: header -->

<!--/*/ <th:block th:include="web/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var success = [[${success}]];
    var message = [[${message}]];

    $(function () {
        if (success) {
            Swal.fire({
                title: "Success",
                icon: "success",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/web/view');
                }
            })
        } else if (false == success) {
            Swal.fire({
                title: "Error",
                icon: "error",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/web/view');
                }
            })
        }
    })

    /*]]>*/
</script>
</body>
</html>
