<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="web/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">E-Book Feedback System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/web/view}">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/web/view_register}">Sign Up</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100 align-items-center">
        <div >
            <div class="row" style="padding-top: 142px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="modal-content">
                        <form th:action="@{/login}" name="f" method="post" th:id="signinform">
                            <div class="alert alert-danger" th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div class="alert alert-success" th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>

                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-form-label" >Username:</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-padding">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</header>


<!-- start: header -->

<!--/*/ <th:block th:include="web/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var success = [[${success}]];
    var message = [[${message}]];

    $(function () {
        if (success) {
            Swal.fire({
                title: "Success",
                icon: "success",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/login');
                }
            })
        } else if (false == success) {
            Swal.fire({
                title: "Error",
                icon: "error",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/login');
                }
            })
        }
    })

    /*]]>*/
</script>
<script>
    $(function () {
        const form = document.getElementById('signupform');
        var faIcon = {
            valid: 'fa fa-check-circle fa-lg text-success',
            invalid: 'fa fa-times-circle fa-lg',
            validating: 'fa fa-refresh'
        };

        $('#signinform').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '* The username is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9 \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 30,
                            message: '* The username must be less than 30 characters'
                        }
                    }
                },

                password: {
                    validators: {
                        notEmpty: {
                            message: '* The password is required'
                        }
                    }
                },

            }
        });
    });
</script>
</body>
</html>
