<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="web/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">E-Book Feedback System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/web/view}">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/login}">Sign In</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100 align-items-center">
        <div>
            <div class="row" style="padding-top: 115px">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="modal-content">
                        <form th:object="${signUpObj}" th:action="@{/reader/register}" method="post" id="signupform">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>

                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Full Name:</label>
                                        <input th:field="${signUpObj.fullname}" type="text" class="form-control"
                                               id="txtFulname">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Email:</label>
                                        <input type="email" th:field="${signUpObj.email}" class="form-control"
                                               id="txtEmail">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="col-form-label">Username:</label>
                                        <input type="text" th:field="${signUpObj.username}" class="form-control"
                                               id="txtUsernameS">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Password:</label>
                                        <input type="password" th:field="${signUpObj.password}" class="form-control"
                                               id="pwdPasswordS">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Confirm Password:</label>
                                        <input type="password" th:field="${signUpObj.confirmPassword}"
                                               class="form-control"
                                               id="pwdCnfPassword">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-padding">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</header>


<!-- start: header -->

<!--/*/ <th:block th:include="web/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var success = [[${success}]];
    var message = [[${message}]];

    $(function () {
        if (success) {
            Swal.fire({
                title: "Success",
                icon: "success",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/web/view');
                }
            })
        } else if (false == success) {
            Swal.fire({
                title: "Error",
                icon: "error",
                text: message
            }).then((result) => {
                if (result) {
                    location.replace(BASE_CONTEXT_PATH + '/web/view_register');
                }
            })
        }
    })

    /*]]>*/
</script>
<script>
    $(function () {
        const form = document.getElementById('signupform');
        var faIcon = {
            valid: 'fa fa-check-circle fa-lg text-success',
            invalid: 'fa fa-times-circle fa-lg',
            validating: 'fa fa-refresh'
        };

        $('#signupform').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                fullname: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9 \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 100,
                            message: '* The Full Name must be less than 100 characters'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        emailAddress: {
                            message: '* The value is not a valid email address'
                        }
                    }
                },
                username: {
                    validators: {
                        notEmpty: {
                            message: '* This field is required and cannot be empty.'
                        },
                        regexp: {
                            regexp: /^[a-z,A-Z,0-9 \s]+$/i,
                            message: '* Special characters are not allowed in this field.'
                        },
                        stringLength: {
                            max: 30,
                            message: '* The username must be less than 30 characters'
                        }
                    }
                },

                password: {
                    validators: {
                        notEmpty: {
                            message: '* The password is required'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: '* The confirm password is required'
                        }
                    }
                }
            }
        });
    });
</script>
</body>
</html>
