<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="web/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">E-Book Feedback System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/web/view}">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#search">Search</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Books</a></li>
<!--                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Profile</a></li>-->
                <li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead-shelf" id="search">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">bookshelf</h1>
            <section class="search-section">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-md-12 mx-auto text-center">
                            <form class="form-inline d-flex" th:action="@{/book/find_by_search_criteria/}">
                                <select name="searchCriteria" id="searchCriteria" class="form-control mr-2">
                                    <option th:each="criteria : ${searchCriteria}" th:value="${criteria.searchCriteria}"
                                            th:text="${criteria.name}" th:selected="${criteria.searchCriteria == searchedCriteria}"></option>
                                </select>
                                <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="searchInput"
                                       type="text" placeholder="Enter Search String" th:value="${searchString}"
                                       th:id="searchString" th:name="searchString"/>
                                <button class="btn btn-primary mx-auto" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>
<!-- About-->

<!-- Projects-->
<section class="projects-section bg-light" style="padding-top: 40px!important;" id="projects">
    <div class="container mb-5">
        <div class="row" th:if="${#lists.isEmpty(bookList) && null != searchString}">
            <h4 >No result found for "<span th:text="${searchString}"></span>"</h4>
        </div>
        <div class="row mb-4 mt-3">
            <div class="col-3 " th:each="book : ${bookList}">
                <div class="card ml-xl-n2" style="width: 18rem;">
                    <img class="card-img-top" th:src="${book.thumbnailString}" style="height: 250px"
                         alt="Card image cap">
                    <div class="card-body" style="min-height: 16rem">
                        <h5 class="pb-1"><b
                                th:text="${null != book.bookName && book.bookName != ''} ? ${book.bookName} :'N/A'">Book
                            of Love</b></h5>
                        <h6><b>Author: </b><span
                                th:text="${null != book.author && book.author != ''} ? ${book.author} :'N/A'">John Doe</span>
                        </h6>
                        <h6><b>Category: </b><span
                                th:text="${null != book.category && book.category != ''} ? ${book.category} :'N/A'">John Doe</span>
                        </h6>
                        <h6><b>Publisher: </b><span
                                th:text="${null != book.publisher && book.publisher != ''} ? ${book.publisher} :'N/A'">John Doe</span>
                        </h6>
                        <h6><b>Language: </b><span
                                th:text="${null != book.language && book.language != ''} ? ${book.language} :'N/A'">John Doe</span>
                        </h6>
                        <h6><b>Year: </b><span
                                th:text="${null != book.publishedYear && book.publishedYear != ''} ? ${book.publishedYear} :'N/A'">John Doe</span>
                        </h6>
                    </div>
                    <div class="card-footer bg-white">
                        <button class="btn btn-info btn-sm float-right btn-view" th:id="${book.id}"
                                style="padding: 0.25rem 0.5rem!important;">View
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">

</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright © E-Book Feedback System 2021</div>
</footer>
<!-- start: header -->

<!--/*/ <th:block th:include="web/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script>
    $('.btn-view').click(function () {
        location.replace(BASE_CONTEXT_PATH + "/web/book_view/" + this.id)
    })
</script>
</body>
</html>
