<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- start: header -->

    <!--/*/ <th:block th:include="web/fragments/resources :: resources"></th:block> /*/-->
    <!-- end: header -->
    <meta name="context-path" th:content="@{/}"/>
    <script th:src="@{/web/js/pdf.js}"></script>
    <script th:src="@{/web/js/pdfThumbnails.js}"></script>
</head>
<body id="page-top" style="background-color: rgb(82, 86, 89);">
<!-- Navigation-->
<nav class="navbar navbar-dark fixed-top bg-dark" id="">
    <h3 class="navbar-brand" id="bookname" th:text="${bookDto.bookName}">Navbar</h3>
    <button id="btnClose" class="btn btn-danger mr-2" style="margin-left: auto;">Close Viewer</button>
    <button id="btnDownload" class="btn btn-primary">Download</button>
</nav>
<input type="text" hidden id="pdfData" th:value="${bookDto.fileString}">
<input type="text" hidden id="logId" th:value="${bookDto.readerLogId}">
<div id="pdf-viewer" class="text-center" style="padding-top: 80px">

</div>
<div class="video-wrap" hidden="">
    <video autoplay playsinline id="video"></video>
</div>
<canvas id="myCanvas" height="480" width="640" hidden></canvas>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright © E-Book Feedback System 2021</div>
</footer>
<!-- start: header -->

<!--/*/ <th:block th:include="web/fragments/footer :: footer"></th:block> /*/-->

<!-- end: header -->
<script>
    var BASE_CONTEXT_PATH = $('meta[name=context-path]').attr("content");
    BASE_CONTEXT_PATH = BASE_CONTEXT_PATH.substr(0, BASE_CONTEXT_PATH.length - 1);
</script>
<script>
    Swal.fire({
        title: "Information",
        icon: "info",
        text: "The system needs to access your webcam in order to capture facial emotions. Please be kind enough to allow webcam access. If you didn't allow permission for facial emotion recognition, automatic feedback generation functions will not available."

    })
</script>
<script>
    'use strict';

    const video = document.getElementById('video');
    const videocanvas = document.getElementById("myCanvas");
    const constraints = {
        audio: false,
        video: {
            width: 1280, height: 720
        }
    };

    async function init() {
        try {
            const stram = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stram);
        } catch (e) {
            console.log(e)
        }
    }

    function handleSuccess(stream) {
        window.stream = stream;
        video.srcObject = stream;


    }

    function drawImage() {
        var ctx = videocanvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 640, 480);
        return videocanvas.toDataURL('image/png');

    }

    init();
</script>
<script type="text/javascript">
    var pdfData = atob($("#pdfData").val());

    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    if (pdfData.toString().trim() !== "") {
        pdfjsLib.GlobalWorkerOptions.workerSrc = BASE_CONTEXT_PATH + '/web/js/pdf.worker.js';
        var thePdf = null;
        var scale = 1.3;
        $(document).ready(function () {
            pdfjsLib.getDocument({
                data: pdfData,
                disableAutoFetch: true,
                disableStream: true
            }, false, null, function (progress) {
                var percent_loaded = (progress.loaded / progress.total) * 100;
                console.log(percent_loaded);
            }).promise.then(function (pdf) {
                thePdf = pdf;
                viewer = document.getElementById('pdf-viewer');
                for (page = 1; page <= pdf.numPages; page++) {
                    canvas = document.createElement("canvas");
                    br = document.createElement("br");
                    canvas.className = 'pdf-page-canvas';
                    viewer.appendChild(canvas);
                    viewer.appendChild(br);
                    renderPage(page, canvas);
                }
            });
        });
    } else {
        swal({
            title: 'Error',
            text: 'Not valid pdf.',
            type: 'error',
            showConfirmButton: true,
            allowOutsideClick: false
        }).then(function () {
            window.close();
        });
    }

    function renderPage(pageNumber, canvas) {
        thePdf.getPage(pageNumber).then(function (page) {
            viewport = page.getViewport(scale);
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            page.render({canvasContext: canvas.getContext('2d'), viewport: viewport});
        });
    }

    var pdfFile = $("#pdfData").val();
    $('#btnDownload').click(function () {
        if (window.navigator && window.navigator.msSaveOrOpenBlob) { // IE workaround
            var byteCharacters = atob(pdfFile);
            var byteNumbers = new Array(byteCharacters.length);
            for (var i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            var byteArray = new Uint8Array(byteNumbers);
            let blob = new Blob([byteArray], {type: 'application/pdf'});
            window.navigator.msSaveOrOpenBlob(blob, "dsf");
        } else { // for other browsers
            const linkSource = 'data:application/pdf;base64,' + pdfFile;
            const downloadLink = document.createElement("a");
            const fileName = $('#bookname');
            downloadLink.href = linkSource;
            downloadLink.download = fileName;
            downloadLink.click();
        }
    })
</script>
<script>
    let emotionCaptureUrl = "http://127.0.0.1:5000/capture_emotion";
    let emotionArray = [];

    setInterval(function () {
        var imgData = drawImage();
        console.log(imgData)
        $.ajax({
            url: emotionCaptureUrl,
            method: 'POST',
            data: {image: imgData},
            success: function (result) {
                console.log(result)
                emotionArray.push(result)

            }
        })
    }, 30000);

    $('#btnClose').click(function () {
        $.ajax({
            url: BASE_CONTEXT_PATH + "/web/save_emotion",
            method: 'GET',
            data: {
                emotionList: JSON.stringify(emotionArray),
                logId: $('#logId').val()
            },
            success: function (res) {
                if (null != res) {
                    Swal.fire({
                        title: "Automatically Generated Feedback",
                        text: res.feedback,
                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Verify feedback',
                        cancelButtonText: "No",
                        closeOnCancel: false,
                        allowOutsideClick: false
                    }).then(function (result) {
                        if (result) {
                            $.ajax({
                                url: BASE_CONTEXT_PATH+ "/book/verify/"+ res.id,
                                method: 'POST',
                                success: function (result) {
                                    if (result){
                                        window.close()
                                    }
                                }
                            })
                        }
                    })

                }
            }
        })
    })
</script>
</body>
</html>
