<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidemenu">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" th:href="@{/reader/view}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-reader"></i></div>
                        Registered Readers
                    </a>
                    <a class="nav-link" th:href="@{/book/view}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                        Book List
                    </a>
                    <a class="nav-link" th:href="@{/scrap/view}">
                        <div class="sb-nav-link-icon"><i class="fas fa-scroll"></i></div>
                        Scraping Process
                    </a>
                    <a class="nav-link" th:href="@{/feedback/view}">
                        <div class="sb-nav-link-icon"><i class="fas fa-comments-dollar"></i></div>
                        Reader Feedbacks
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                <span >Admin</span>
            </div>
        </nav>
    </div>
</th:block>
</html>
